<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
  "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
  "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">  
  
<hibernate-configuration>
  <session-factory>
    <property name="hbm2ddl.auto">update</property>  
    <property name="show_sql">true</property>
    <property name="connection_pool_size">10</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="connection.url">jdbc:postgresql://${hibernate_db_host}/${hibernate_db_name}</property>  
    <property name="connection.username">${hibernate_db_user}</property>  
    <property name="connection.password">${hibernate_db_pass}</property>  
    <property name="connection.driver_class">org.postgresql.Driver</property>  
    <mapping resource="HelloWorld.hbm.xml"/> 
    <mapping resource="StorageItem.hbm.xml"/> 
  </session-factory>  
</hibernate-configuration> 